html {
  margin-top: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background: white;
  color: black;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.innersection {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 0;
}

.innersection p,
.innersection h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  text-align: center;
  background-image: url("../assets/images/HeadlineImage_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  /* height: 450px; */
  font-size: 1.5em;
  padding: 20px 0 150px;
}

.title {
  background: linear-gradient(
    to right,
    rgba(196,154,108,0),
    rgba(255,255,255,0.7),
    rgba(195,155,124,1),
    rgba(255,255,255,0.7),
    rgba(196,154,108,0));
  color: #A41F25;
  font-size: 2em;
  line-height: 1;
}

.header h1 {
  margin: 0;
  font-family: 'rift', 'Open Sans', sans-serif;
}

.header h2 {
  margin: 0;
}

.chocolate {
  background: linear-gradient(
    to right,
    rgba(196, 154, 108, 0),
    rgba(195, 155, 124, 1),
    rgba(196, 154, 108, 0));
  font-weight: 800;
  font-size: 1.4em;
}

.chocolate__figures {
  display: flex;
  flex-direction: row;
}

.chocolate__figure {
  margin: 20px;
}

.chocolate__image {
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
}

figcaption {
  text-align: center;
}

.standout {
  padding: 20px;
}

.shutdown__list {
  font-style: italic;
  list-style: none;
  padding-left: 20px;
}

.shutdown__list li {
  padding: 10px 0;
}

.shutdown__list li:before {
  content: "✓ ";
}

.parallax {
  background-image: url("../assets/images/ParallaxOne_5.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.parallax__text {
  color: white;
  text-shadow: 1px 1px 5px black;
  padding: 50px;
  max-width: 80%;
}

.parallax__title {
  font-size: 3em;
  line-height: 1.2;
}

.doctor {
  padding: 50px 50px 0 0;
}

.brownbar {
  background-color: #3D1C0F;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  height: 250px;
  width: 80%;
  overflow: visible;
}

.brownbar__figure {
  margin: 0;
  position: relative;
  top: -20%;
  left: 5%;
}

.brownbar__image {
  /* position: relative; */
  /* margin-top: -40px; */
  /* left: 10%; */
  max-width: 80%;
  height: auto;
}

.brownbar__text {
  float: right;
  color: white;
  padding: 10px;
  width: 550px;
  letter-spacing: 1.5px;
}

.underdoc {
  line-height: 2;
  padding: 20px;
}

.gears {
  background-color: #A41F25;
  background-image: url("../assets/images/Gears_15.jpg");
  background-repeat: no-repeat;
  background-position: 800px 75%;
  color: white;
  padding: 20px;
}

.gears__title {
  color: #FFCD2F;
  margin-top: 0;
}

.guarantee__image {
  max-width: 841px;
  width: 100%;
}

.delivery__image {
  float: right;
  max-width: 100%;
  height: auto;
}

.trees {
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)), url("../assets/images/TransparentArrowBkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow-transparent {
  background-color: rgba(255,255,255, 0.7);
  padding-bottom: 20px;
}

.ordernow {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background-color: #495E40;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.ordernow__image {
  /* max-width: 110px; */
  max-width: 100%;
  height: auto;
}

.ordernow__text {
  line-height: 0.9;
  margin: auto 0;
  text-align: center;
}

.ordernow__text-top {
  margin: 0;
  font-size: 1.5em;
}

.ordernow__text-mid {
  margin: 0;
  font-size: 9em;
  color: #F9D63F;
}

.ordernow__text-bot {
  margin: 0;
  font-size: 4em;
}

.arrow__point {
  margin-bottom: 20px;
  max-width: 900px;
  width: 100%;
}

.addtocart__btn {
  display: block;
  margin: 0 auto;
  background-color: #E47E25;
  border: 4px solid white;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 5px 120px;
}

.addtocart__title {
  color: white;
  font-size: 3.5em;
  display: block;
  line-height: 1;
}

.addtocart__subtitle {
  color: black;
  font-size: 1em;
}

.productlabel__link,
.productlabel__link:visited,
.productlabel__link:hover,
.productlabel__link:active {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2BB673;
  padding: 5px;
  display: block;
}

.copyright {
  color: rgba(255,255,255,0.7);
  font-size: 0.7em;
  max-width: 55%;
  margin: 0 auto;
  padding-bottom: 20px;
}


@media screen and (max-width: 999px) {
  .ordernow__image:first-of-type,
  .ordernow__image:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .chocolate__figures {
    flex-direction: column;
  }

  .chocolate__figure {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  chocolate__image {
    margin-right: 10px;
  }

  .ordernow__image:nth-of-type(3) {
    display: none;
  }

  .addtocart__btn {
    padding: 5px 20px;
  }

  .copyright {
    max-width: 80%
  }
}

@media screen and (max-width: 549px) {
  body {
    font-size: 14px;
  }

  .chocolate__figure {
    flex-direction: column;
  }

  .brownbar {
    width: 100%;
    margin-right: 0;
  }

  .brownbar__image {
    display: none;
  }

  .ordernow__image {
    display: none;
  }

  
}