body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background: white;
  color: black;
  font-size: 18px;
  line-height: 1.6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  text-align: center;
}

.header h1 {
  font-family: 'rift', 'Open Sans', sans-serif;
}

.figures__area {
  display: flex;
  flex-direction: row;
}

figcaption {
  text-align: center;
}

.shutdown__list {
  font-style: italic;
  list-style: none;
}

.shutdown__list li:before {
  content: "✓ ";
}

.brownbar {
  display: flex;
  flex-direction: row;
}

.delivery__image {
  float: right;
}

.ordernow {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background-color: #495E40;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.ordernow__text {
  line-height: 0.9;
  margin: auto 0;
  text-align: center;
}

.ordernow__text-top {
  margin: 0;
  font-size: 1.5rem;
}

.ordernow__text-mid {
  margin: 0;
  font-size: 9rem;
  color: #F9D63F;
}

.ordernow__text-bot {
  margin: 0;
  font-size: 4rem;
}